:root{
    --primary-color : #5fbaa7;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #f4f4f4;
    padding: 2rem;
}

img{
    height: 15rem;
}

h1{
    padding: 2rem 0;
    color: var(--primary-color);
}

p{
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
}



.btn {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    padding: .5rem 1.2rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    outline: none;
}

.currency{
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

.currency input {
    background: transparent;
    border: 1px solid #dedede;
    font-size: 3rem;
    text-align: right;
    width: 10rem;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}
